@model IEnumerable<Keys_Onboarding.Models.ProductSold>

@{
    ViewBag.Title = "Index";
}

<h2>Products Sold</h2>

<p>
    <a id="btnCreate" href="#modalContainer" data-toggle="modal" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            <a class="btn btn-primary btnEdit" data-toggle="modal" data-id="@item.Id" href="#modalContainer">Edit</a>
            <a class="btn btn-success btnDetail" data-toggle="modal" data-id="@item.Id" href="#modalContainer">Details</a>
            <a class="btn btn-danger btnDelete" data-toggle="modal" data-id="@item.Id" href="#modalContainer">Delete</a>
        </td>
    </tr>
}

</table>


<div id="modalContainer" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mod-content">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>


        $("#btnCreate").click(function (event) {
            $(".mod-content").load("/ProductSolds/Create");
        })

        $(".btnEdit").click(function (event) {
            console.log("button clicked");
            $(".mod-content").load("/ProductSolds/Edit/" + $(this).data("id"));
            console.log($(this).data("id"));
        });


        $(".btnDetail").click(function (event) {
            console.log("button clicked");
            var Id = $(this).data("data-id")
            $(".mod-content").load("/ProductSolds/Details/" + $(this).data("id"));
            console.log($(this).data("id"));
        });

        $(".btnDelete").click(function (event) {
            console.log("button clicked");
            var Id = $(this).data("data-id")
            $(".mod-content").load("/ProductSolds/Delete/" + $(this).data("id"));
            console.log($(this).data("id"));
        });
    </script>
}